- content_blocked_state = local_assigns.fetch(:content_blocked_state)

.gl-font-base.gl-font-weight-bold.gl-py-7.gl-display-flex.gl-align-items-center.gl-justify-content-center
  = content_blocked_plain_message(content_blocked_state)
